<div class="bookmarks">
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-6">
                    <h4>
        				Bookmark List
					</h4>
				</div>
                <div class="col-sm-6" ng-if="bookmarksListCtrl.getCurrentCategory()">
                    <button type="button" class="btn btn-info" ng-if="!bookmarksListCtrl.currentBookmark" ng-click="bookmarksListCtrl.createBookmark()">
                        <span class="ti-plus"></span> Create Bookmark
                    </button>
                </div>
            </div>
            <div ng-repeat="bookmark in bookmarksListCtrl.bookmarks | filter:{category:bookmarksListCtrl.getCurrentCategory().name}" class="m-t-1">
                <button type="button" class="close" ng-click="bookmarksListCtrl.deleteBookmark(bookmark)">&times;</button>
                <button type="button" class="btn btn-secondary btn-sm" ng-click="bookmarksListCtrl.editBookmark(bookmark)">
                    <span class="ti-pencil"></span>
                </button>
                <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
            </div>
        </div>
        <div class="col-sm-7">
            <save-bookmark ng-if="bookmarksListCtrl.currentBookmark" bookmark="bookmarksListCtrl.currentBookmark" save="bookmarksListCtrl.onSave(bookmark)" cancel="bookmarksListCtrl.reset()">
            </save-bookmark>
        </div>
    </div>
</div>
